<p id="notice"><%= notice %></p>

<div class="container">
  <div class="search-wrapper">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <%= form_tag(cars_path, method: "get", class: "form-inline") do%>
          <div class="car-search-container shared-search-container">
            <%= text_field_tag :search, params[:search], placeholder: "Search Makes", class: "search-bar" %>
            <%= submit_tag "Search", :name => nil, class: "search-btn" %>
          </div>
        <% end %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- search-wrapper -->
  <h1>Results</h1>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= cl_image_path car.photo %>')">
          <div class="card-description">
          <h2> <%= car.make %> </h2>
          <p> <%= car.price %> kr / day </p>
          </div>
          <%= link_to "", car_path(car), class: "card-link" %>
        </div>
      </div> <!-- col -->
    <% end %>
  </div> <!-- row -->
</div> <!-- container -->


